
h1 Linear Regression (one variable)


.col-md-3 style="display: flex;"
  select.form-control
    -Game.column_names.each do |col_name|
      -unless col_name==params[:x]
        option #{col_name}
      -else
        option selected="selected" #{col_name}
  select.form-control
    -Game.column_names.each do |col_name|
      -unless col_name==params[:y]
        option #{col_name}
      -else
        option selected="selected" #{col_name}



#scatter-plot

javascript:
  $(function () {
    inputData = #{@game_data};
    fit1 = ss.linear_regression().data(inputData);
    xMin = ss.min(#{@x});
    xMax = ss.max(#{@x});

    return new Highcharts.Chart({
      chart: {
        renderTo: "scatter-plot"
      },
      title: {
            text: '#{params[:x].titleize} vs. #{params[:y].titleize}'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '#{params[:x].titleize}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '#{params[:y].titleize}'
            }
        },
        tooltip: {
          formatter: function() {
            return round(this.x) + " #{params[:x].titleize}, " + round(this.y) + " #{params[:y].titleize}" ;
          }
        },
        series: [{
          type: "scatter",
          name: "All Games",
          color: 'rgba(119, 152, 191, .5)',
          data: inputData
        },
        {
          type: "line",
          name: "Least Squares Line",
          color: "black",
          data: [[xMin,fit1.line()(xMin)], [xMax,fit1.line()(xMax)]]

        }]
    });
  });




