
h1 Linear Regression (one variable)

.well.col-md-4 style="display: flex;"
  select.form-control#x-select
    -@col_names.each do |col_name|
      -unless col_name==params[:x]
        option value="#{col_name}" #{col_name.titleize}
      -else
        option value="#{col_name}" selected="selected" #{col_name.titleize}
  select.form-control#y-select
    -@col_names.each do |col_name|
      -unless col_name==params[:y]
        option value="#{col_name}" #{col_name.titleize}
      -else
        option value="#{col_name}" selected="selected" #{col_name.titleize}

.col-md-8#scatter-plot

javascript:
  $(function () {
    inputData = #{@game_data};
    fit1 = ss.linear_regression().data(inputData);
    xMin = ss.min(#{@x});
    xMax = ss.max(#{@x});

    return new Highcharts.Chart({
      chart: {
        renderTo: "scatter-plot"
      },
      title: {
        text: '#{params[:x].titleize} vs. #{params[:y].titleize}'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '#{params[:x].titleize}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '#{params[:y].titleize}'
            }
        },
        tooltip: {
          formatter: function() {
            return round(this.x) + " #{params[:x].titleize}, " + round(this.y) + " #{params[:y].titleize}" ;
          }
        },
        series: [{
          type: "scatter",
          name: "All Games",
          color: 'rgba(119, 152, 191, .5)',
          data: inputData
        },
        {
          type: "line",
          name: "Least Squares Line",
          color: "black",
          data: [[xMin,fit1.line()(xMin)], [xMax,fit1.line()(xMax)]]

        }]
    });
  });

javascript:
  $("select").change(function() {
    location.href = "/linear_regression?x=" + $("#x-select").val() + "&y=" + $("#y-select").val();
  });





