javascript:
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "games_chart"
      },
      title: {
        text: "Fanduel Points vs Projections"
      },
      xAxis: {
        categories: #{raw @player.games.reverse.collect {|game| game.game_day.strftime('%b %d')}}
      },
      yAxis: {
        title: {
          text: "Fanduel Points"
        }
      },
      tooltip: {
        formatter: function() {
          return this.x + ': ' + this.y
        }
      },
      series: [{
        name: "NumberFire Projection",
        data: #{@player.games.reverse.collect {|game| game.numberfire_fdp}}
      }, {
        name: "Rotowire Projection",
        data: #{@player.games.reverse.collect {|game| game.rotowire_fdp}}
      },{
        name: "Fanduel Points",
        data: #{@player.games.reverse.collect {|game| game.fanduel_points}}
      }],
    })
  });

h1
  =@player.name
p
  = link_to 'Back', players_path, :class=>"btn btn-primary"

div id="games_chart"

table.table.table-hover
  thead
    tr
      th Date
      th FDP
      th Rotowire
      th NumberFire

  tbody
    - @player.games.each do |game|
      tr
        td = link_to game.game_day, game
        td = game.fanduel_points
        td = game.rotowire_fdp
        td = game.numberfire_fdp


