br

p
  = link_to '< Back', players_path, :class=>"btn btn-primary", :style=>"background-color: #c0d9ef; border-color: #c0d9ef; color: black;"
h1 align="center"
  ="#{@player.name} - #{@player.games.pluck(:team).uniq.to_sentence}"

.well.col-md-3 style="margin: 0 37%;"
  dd Stat1
  dd Stat2
  dd Stat3

.btn-group align="center" style="padding: 10px 36%;"
  button.btn.btn-default.stat-selector.active type="button" id="fdp-selector" Fanduel Points
  button.btn.btn-default.stat-selector type="button" id="minutes-selector" Minutes
  button.btn.btn-default.stat-selector type="button" id="fdp-per-36-selector" FDP per 36
  button.btn.btn-default.stat-selector type="button" id="salary-selector" Salary

.chart id="fanduel-points"
.chart id="minutes"
.chart id="fdp-per-36"
.chart id="salary"



h3 Game Log
table.table.table-hover
  thead
    tr
      th Date
      th Salary
      th FDP
      th Minutes

  tbody
    - @player.games.each do |game|
      tr
        td = link_to "#{game.game_day} - #{game.opponent}", game
        td = "$#{game.salary}"
        td = game.fanduel_points
        td = game.minutes

javascript:
  function renderChart(id, statName, chartData) {
    mean = jStat(chartData).mean();
    sd = jStat(chartData).stdev();

    new Highcharts.Chart({
      chart: {
        renderTo: id
      },
      title: {
        text: statName + " (Avg: " + (Math.round(mean * 100) / 100) + ")"
      },
      xAxis: {
        categories: #{ raw @player.games.reverse.collect {|game| game.game_day.strftime('%b %d') + ' ' + game.opponent}}
      },
      yAxis: {
        title: {
          text: statName
        },
        gridLineColor: '#EDEDED',
        plotLines: [{
            color: '#FF0000',
            width: 2,
            value: mean
        },
        {
          color: '#97C74E',
            width: 2,
            value: mean - sd
        },
        {
          color: '#97C74E',
            width: 2,
            value: mean + sd
        }
        ]
      },
      tooltip: {
        formatter: function() {
          return this.x + ': ' + Math.round(this.y * 100) / 100
        }
      },
      series: [{
        name: statName,
        data: chartData
      }],
    });
  }

/render Fanduel Points initially
javascript:
  $(function() {
    renderChart("fanduel-points", "Fanduel Points", #{@player.games.pluck(:fanduel_points).reverse});
  });

javascript:
  $("div.chart:not(:first)").hide();
  $('.stat-selector').click(function() {
    $(".chart").hide();
  });

  $('#fdp-selector').click(function() {
    $("#fanduel-points").show();
    renderChart("fanduel-points", "Fanduel Points", #{@player.games.pluck(:fanduel_points).reverse});
  });

  $('#minutes-selector').click(function() {
    $("#fdp-selector").removeClass("active");
    $("#minutes").show();
    renderChart("minutes", "Minutes", #{@player.games.pluck(:minutes).reverse});
  });

  $('#fdp-per-36-selector').click(function() {
    $("#fdp-selector").removeClass("active");
    $("#fdp-per-36").show();
    renderChart("fdp-per-36", "FDP per 36", #{@player.games.reverse.collect {|game| (game.fanduel_points / game.minutes) * 36}});
  });

  $('#salary-selector').click(function() {
    $("#fdp-selector").removeClass("active");
    $("#salary").show();
    renderChart("salary", "Salary", #{@player.games.pluck(:salary).reverse});
  });


