<!DOCTYPE html>
<html>
<head>
  <title>Project Mellon</title>
  <link rel="icon" href="http://images.wikia.com/nba/images/archive/6/64/20060916025851!Favicon.ico">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div class="navbar navbar-fixed-top">
<div class="container-fluid">
    <img src="http://i.imgur.com/TtMC2HD.jpg" height="50" id="pm-logo">

  <span id="the-basics">
    <input class="typeahead input-lg" type="text" placeholder="Search (e.g. LeBron)"></input>
  </span>



&nbsp;

</div>
</div>
<br><br><br>
<%= yield %>

</body>
<script type="text/javascript">
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          // the typeahead jQuery plugin expects suggestions to a
          // JavaScript object, refer to typeahead docs for more info
          matches.push({ value: str });
        }
      });

      cb(matches);
    };
  };

  var players = <%== Player.select('distinct name').collect { |p| p.name } %>;

  $('#the-basics .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'players',
    displayKey: 'value',
    source: substringMatcher(players)
  });
  </script>
</html>
